<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增点位树')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-tree2-add">
    <div class="col-sm-6">
            <div class="form-group">    
                <label class="col-sm-4 control-label">父节点：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input id="treeId" name="parentId" type="hidden" th:value="${pointTree2?.pointTreeId}"/>
                        <input class="form-control" type="text" onclick="selectTree2Tree()" id="treeName" readonly="true" th:value="${pointTree2?.pointName}">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
    </div>
            <div class="col-sm-6">
            <div class="form-group">    
                <label class="col-sm-4 control-label">点位名称：</label>
                <div class="col-sm-8">
                    <input name="pointName" class="form-control" type="text">
                </div>
            </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        $("#form-tree2-add").validate({
            rules: {
                pointName: {
                    required: true,
                    // minlength: 2,
                    // maxlength: 5,
                    // 自定义属性 属性名要和上方的一参一样
                    // isAllNumber: true,
                }
            }
        });
        var prefix = ctx + "system/tree2"
        // $("#form-tree2-add").validate({
        //     focusCleanup: true
        // });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-tree2-add').serialize());
            }
        }

        /*点位树-新增-选择父部门树*/
        function selectTree2Tree() {
            var options = {
                title: '点位树选择',
                width: "380",
                url: prefix + "/selectTree2Tree/" + $("#treeId").val(),
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var body = layer.getChildFrame('body', index);
               $("#treeId").val(body.find('#treeId').val());
               $("#treeName").val(body.find('#treeName').val());
               layer.close(index);
        }
    </script>
</body>
</html>