<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://localhost:8888/system/details/list2" method="post">
    <input type="submit" value="树表数据">
</form>
<form action="http://localhost:8888/system/details/list" method="post">
    <input type="submit" value="点位详情">
</form>
<form action="http://localhost:8888/system/tree2/list2" method="post">
    <input type="submit" value="点位详情">
</form>
<form action="http://localhost:8888/system/download" method="get">
    <input type="submit" value="点位详情">
</form>

</body>
</html>